.orders { margin: 3px; background: #E0E3DA; }

#pizzaList {
  padding: .5vw;
  font-size: 10;
  font-family:
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  display: -webkit-box;
  display: flex;

}
.orders div {

  flex-grow: 4;
  max-width: 35vw;

  border-style: dashed;
  margin: none;
}

.pizzaList img {
  width: 100%;
  height: 80%;
}





@media screen and (max-width: 400px) {
  orders div { margin: 0; }
  orders { padding: 0; }

}
